.content-header {
    display: flex;
    padding: var(--padding-vertical) var(--padding-horizontal);
    margin: calc(var(--padding-vertical) * -1) calc(var(--padding-horizontal) * -1) 0;

    border-top-left-radius: var(--border-radius-primary);
    border-top-right-radius: var(--border-radius-primary);
    background-color: var(--color-brand-primary);
}

.content-header__content-container {
    display: grid;
    grid-template-columns: 100%;
    justify-items: start;
    grid-row-gap: 4px;
}

.content-header__title {
    margin: 0;
}

@media (max-width: 599px) {
    .content-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-header__trailing-container {
        margin-top: 12px;
    }
}

@media (min-width: 600px) {
    .content-header {
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .content-header__trailing-container {
        margin-left: 18px;
    }
}

@media (min-width: 1200px) {
    .content-header__trailing-container {
        margin-left: 24px;
    }
}
