.page-content {
    display: grid;
    grid-template-columns: 100%;
}

.page-content--with-padding {
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.page-content__title {
    margin: 0;
}

@media (max-width: 599px) {
    .page-content {
        grid-row-gap: 24px;
        row-gap: 24px;
    }

    .page-content--with-padding {
        --padding-vertical: 24px;
        --padding-horizontal: 12px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .page-content {
        grid-row-gap: 28px;
        row-gap: 28px;
    }

    .page-content--with-padding {
        --padding-vertical: 28px;
        --padding-horizontal: 22px;
    }
}

@media (min-width: 1000px) {
    .page-content__header {
        position: sticky;
        top: 0;
        z-index: 3;
    }
}

@media (min-width: 1200px) {
    .page-content {
        grid-row-gap: 32px;
        row-gap: 32px;
    }

    .page-content--with-padding {
        --padding-vertical: 32px;
        --padding-horizontal: 32px;
    }
}
