.page-header {
    background-color: var(--color-background-secondary);
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header__logotype {
    flex-shrink: 0;
}

@media (max-width: 599px) {
    .page-header {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .page-header__container {
        column-gap: 16px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .page-header {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .page-header__container {
        column-gap: 24px;
    }
}

@media (min-width: 1200px) {
    .page-header {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .page-header__container {
        column-gap: 32px;
    }
}
