.page {
    min-height: 100vh;

    font-size: 62.5%;

    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

.page__body {
    width: 100%;
    padding: 0;
    margin: 0;

    font-family: var(--font-body-primary);
    font-weight: 400;
    color: var(--color-text-primary);

    background-color: var(--color-background-primary);
    -webkit-font-smoothing: antialiased;
}

.page__wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--margin-bottom));
    margin-bottom: var(--margin-bottom);
}

.page__container--stretch {
    display: grid;
    grid-template-columns: 100%;
    flex-grow: 1;
}

.page__grid {
    display: grid;
    align-items: start;
}

.page__content--center {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

@media (max-width: 599px) {
    .page__header {
        margin-bottom: 16px;
    }

    .page__wrapper {
        --margin-bottom: 32px;
    }

    .page__grid {
        grid-gap: 16px;
        gap: 16px;
    }

    .page__content--fluid {
        margin: 0 calc(var(--container-edge-distance) * -1);
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .page__header {
        margin-bottom: 20px;
    }

    .page__wrapper {
        --margin-bottom: 48px;
    }

    .page__grid {
        grid-gap: 20px;
        gap: 20px;
    }
}

@media (max-width: 999px) {
    .page__grid {
        grid-template-columns: 100%;
    }
}

@media (min-width: 1000px) {
    .page__grid {
        grid-template-columns: minmax(180px, 1fr) minmax(500px, 3.1756fr);
    }

    .page__sidebar {
        position: sticky;
        top: 24px;
    }
}

@media (min-width: 1200px) {
    .page__header {
        margin-bottom: 24px;
    }

    .page__wrapper {
        --margin-bottom: 64px;
    }

    .page__grid {
        grid-gap: 24px;
        gap: 24px;
    }
}

