.page .react-tooltip {
    z-index: 5;

    font-family: var(--font-body-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5em;
    color: var(--color-text-tertiary);

    border-radius: var(--border-radius-secondary);
}
