:root {
    --font-title-primary: "Rubik Medium", sans-serif;
    --font-body-primary: "Rubik Regular", sans-serif;

    --color-brand-primary: #5465FF;
    --color-brand-secondary: #2437E8;

    --color-text-primary: #2C2C2C;
    --color-text-secondary: #9E9E9E;
    --color-text-tertiary: #FFFFFF;
    --color-text-quaternary: #CCCCCC;

    --color-background-primary: #F7F7F7;
    --color-background-secondary: #FFFFFF;
    --color-background-tertiary: #F1F6FB;
    --color-background-quaternary: #DEE6F4;
    --color-background-quinary: #EBF2FF;

    --color-backdrop-primary: RGBA(0, 0, 0, 0.64);

    --color-border-primary: #DAE1EC;
    --color-border-secondary: #CCCCCC;

    --color-shadow-primary: rgba(141, 173, 206, 0.2);

    --color-success: #3ECD55;
    --color-danger: #E32F08;

    --border-radius-primary: 16px;
    --border-radius-secondary: 12px;
    --border-radius-tertiary: 24px;
    --border-radius-quaternary: 8px;
}
