.rating-instruction__player {
    max-width: 372px;
    width: 100%;
}

@media (max-width: 599px) {
    .rating-instruction__title {
        margin: 0 0 12px;
    }

    .rating-instruction__video-container {
        margin-top: 24px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .rating-instruction__title {
        margin: 0 0 14px;
    }

    .rating-instruction__video-container {
        margin-top: 28px;
    }
}

@media (min-width: 1200px) {
    .rating-instruction__title {
        margin: 0 0 16px;
    }

    .rating-instruction__video-container {
        margin-top: 32px;
    }
}
