.rating-value {
    display: inline-block;
    padding: 6px 12px;

    font-family: var(--font-title-primary);
    font-weight: 500;
    line-height: 1.4em;
    color: var(--color-text-tertiary);

    border-radius: var(--border-radius-tertiary);
    background-color: var(--color-brand-primary);
}

.rating-value--small {
    padding: 2px 12px;
}

@media (max-width: 599px) {
    .rating-value {
        font-size: 18px;
    }

    .rating-value--small {
        font-size: 15px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .rating-value {
        font-size: 19px;
    }

    .rating-value--small {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .rating-value {
        font-size: 20px;
    }

    .rating-value--small {
        font-size: 16px;
    }
}
