.rating-result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: var(--font-body-primary);
    font-weight: 500;
    line-height: 1.5em;
    color: var(--color-text-primary);

    background-color: var(--color-background-tertiary);
}

@media (max-width: 599px) {
    .rating-result-item {
        column-gap: 12px;
        padding: 8px 12px;

        font-size: 15px;

        border-radius: var(--border-radius-quaternary);
    }
}

@media (min-width: 600px) {
    .rating-result-item {
        font-size: 16px;

        border-radius: var(--border-radius-secondary);
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .rating-result-item {
        column-gap: 14px;
        padding: 8px 14px;
    }
}

@media (min-width: 1200px) {
    .rating-result-item {
        column-gap: 16px;
        padding: 8px 16px;
    }
}
