.rating-result-grid__list {
    display: grid;
    padding: 0;
    margin: 0;

    list-style-type: none;
}

@media (max-width: 599px) {
    .rating-result-grid__list {
        grid-template-columns: 100%;
        grid-row-gap: 16px;
        row-gap: 16px;
    }
}

@media (min-width: 600px) {
    .rating-result-grid__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .rating-result-grid__list {
        grid-gap: 20px 30px;
        gap: 20px 30px;
    }
}

@media (min-width: 1200px) {
    .rating-result-grid__list {
        grid-gap: 24px 36px;
        gap: 24px 36px;
    }
}
