.rating-list {
    border-radius: var(--border-radius-primary);
    background-color: var(--color-background-tertiary);
}

.rating-list__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.rating-list__title {
    margin: 0;
}

.rating-list__list {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 8px;
    row-gap: 8px;
    padding: 0;
    margin: 0;

    list-style-type: none;
}

.rating-list__text {
    margin: 0;
}

@media (max-width: 599px) {
    .rating-list {
        padding: 12px;
    }

    .rating-list__header {
        gap: 4px 16px;
        margin-bottom: 12px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .rating-list {
        padding: 18px;
    }

    .rating-list__header {
        gap: 6px 20px;
        margin-bottom: 14px;
    }
}

@media (min-width: 1200px) {
    .rating-list {
        padding: 24px;
    }

    .rating-list__header {
        gap: 8px 24px;
        margin-bottom: 16px;
    }
}
