.rating-result-block {
    border-radius: var(--border-radius-primary);
    background-color: var(--color-background-primary);
}

.rating-result-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.rating-result-block__competence {
    margin: 0;

    hyphens: auto;
}

.rating-result-block__list {
    display: grid;
    grid-template-columns: 100%;
    padding: 0;
    margin: 0;

    list-style-type: none;
}

.rating-result-block__item {
    background-color: var(--color-background-secondary);
}

.rating-result-block__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    margin: 0 0 8px;

    font-family: var(--font-body-primary);
    font-weight: 400;
    line-height: 1.42em;
    color: var(--color-text-primary);
}

.rating-result-block__progress {
    width: 100%;

    border-radius: var(--border-radius-quaternary);
    background-color: var(--color-border-primary);
    overflow: hidden;
}

.rating-result-block__progress::before {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    background-color: var(--color-brand-primary);

    transform-origin: center left;
    transform: scaleX(var(--progress-scale));
}

@media (max-width: 599px) {
    .rating-result-block {
        padding: 12px;
    }

    .rating-result-block__header {
        column-gap: 12px;
    }

    .rating-result-block__list {
        grid-row-gap: 8px;
        row-gap: 8px;
    }

    .rating-result-block__item {
        padding: 8px;

        border-radius: var(--border-radius-quaternary);
    }

    .rating-result-block__text {
        font-size: 13px;
    }

    .rating-result-block__progress {
        height: 2px;
    }
}

@media (min-width: 600px) {
    .rating-result-block__item {
        border-radius: var(--border-radius-secondary);
    }

    .rating-result-block__text {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .rating-result-block {
        padding: 14px;
    }

    .rating-result-block__header {
        column-gap: 14px;
    }

    .rating-result-block__list {
        grid-row-gap: 10px;
        row-gap: 10px;
    }

    .rating-result-block__item {
        padding: 8px 10px;
    }

    .rating-result-block__progress {
        height: 3px;
    }
}

@media (min-width: 1200px) {
    .rating-result-block {
        padding: 16px;
    }

    .rating-result-block__header {
        column-gap: 16px;
    }

    .rating-result-block__list {
        grid-row-gap: 12px;
        row-gap: 12px;
    }

    .rating-result-block__item {
        padding: 8px 12px;
    }

    .rating-result-block__progress {
        height: 4px;
    }
}
