.faq-form__form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 599px) {
    .faq-form__title {
        margin: 0 0 24px;
    }

    .faq-form__form {
        row-gap: 24px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .faq-form__title {
        margin: 0 0 24px;
    }

    .faq-form__form {
        row-gap: 28px;
    }
}

@media (min-width: 1200px) {
    .faq-form__title {
        margin: 0 0 24px;
    }

    .faq-form__form {
        row-gap: 32px;
    }
}
